.navbar {
  width: 100%;
  background: linear-gradient(to right, #09c9ef, #fd03f0);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  height: 9vh;
  
}
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-links {
  display: flex;
  gap: 40px; 
  color: #333;
  text-decoration: none;
  list-style: none;
  transition: color 0.2s ease-in-out;
}
.a-link {
  text-decoration: none;
  color: inherit;
}
.nav-links li a:hover {
  color: #e51515;
}
.nav-button {
  background-color: #0c0f11;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}
.nav-title {
  padding-left: 1rem;
  font-size: 20px;
  font-weight:500;
  color:  rgb(226, 230, 195);;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-logo {
  margin-right: 10px;
  border-radius: 50%;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
.nav-avatar {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}