<nav class="navbar">
  <div class="nav-container">
  <div class="nav-title">
  <a href="#" class="a-link">
    <img src="/assets/images/logo.png" alt="Logo" width="40" height="40" class="nav-logo" />
    <span >Everest </span>
  </a>
    </div>
  <ul class="nav-links">
    <li class="nav-li"><a href="/" style="color: inherit; text-decoration: none;">Home</a></li>
    <li class="nav-li"><a href="/about" style="color: inherit; text-decoration: none;">About</a></li>
    <li class="nav-li"><a href="/booking" style="color: inherit; text-decoration: none;">Booking</a></li>
    <li class="nav-li"><a href="/contact" style="color: inherit; text-decoration: none;">Contact</a></li>
    <li class="nav-li"><a href="/contact" style="color: inherit; text-decoration: none;">Offer</a></li>
    </ul>
  <div class="nav-avatar">
    <img src="/assets/images/avatar.png" alt="User Avatar" width="40" height="40" />
  </div>
  </div>
</nav>
